<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install sql
!pip3 install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\asus\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: sql in c:\users\asus\anaconda3\lib\site-packages (2022.4.0)
Requirement already satisfied: ipython-sql in c:\users\asus\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\asus\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: backcall in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\asus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\asus\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\asus\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\asus\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\asus\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\asus\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
import pandas as pd
df = pd.read_csv('Spacex.csv')

print(df.to_string())

           Date Time (UTC) Booster_Version   Launch_Site                                                        Payload  PAYLOAD_MASS__KG_        Orbit                                                   Customer                   Mission_Outcome        Landing _Outcome
0    04-06-2010   18:45:00  F9 v1.0  B0003   CCAFS LC-40                           Dragon Spacecraft Qualification Unit                  0          LEO                                                     SpaceX                           Success     Failure (parachute)
1    08-12-2010   15:43:00  F9 v1.0  B0004   CCAFS LC-40  Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                  0    LEO (ISS)                                            NASA (COTS) NRO                           Success     Failure (parachute)
2    22-05-2012   07:44:00  F9 v1.0  B0005   CCAFS LC-40                                          Dragon demo flight C2                525    LEO (ISS)                                                NASA (COTS)                           Success              No attempt
3    08-10-2012   00:35:00  F9 v1.0  B0006   CCAFS LC-40                                                   SpaceX CRS-1                500    LEO (ISS)                                                 NASA (CRS)                           Success              No attempt
4    01-03-2013   15:10:00  F9 v1.0  B0007   CCAFS LC-40                                                   SpaceX CRS-2                677    LEO (ISS)                                                 NASA (CRS)                           Success              No attempt
5    29-09-2013   16:00:00  F9 v1.1  B1003   VAFB SLC-4E                                                       CASSIOPE                500    Polar LEO                                                        MDA                           Success    Uncontrolled (ocean)
6    03-12-2013   22:41:00         F9 v1.1   CCAFS LC-40                                                          SES-8               3170          GTO                                                        SES                           Success              No attempt
7    06-01-2014   22:06:00         F9 v1.1   CCAFS LC-40                                                      Thaicom 6               3325          GTO                                                    Thaicom                           Success              No attempt
8    18-04-2014   19:25:00         F9 v1.1   CCAFS LC-40                                                   SpaceX CRS-3               2296    LEO (ISS)                                                 NASA (CRS)                           Success      Controlled (ocean)
9    14-07-2014   15:15:00         F9 v1.1   CCAFS LC-40                        OG2 Mission 1  6 Orbcomm-OG2 satellites               1316          LEO                                                    Orbcomm                           Success      Controlled (ocean)
10   05-08-2014   08:00:00         F9 v1.1   CCAFS LC-40                                                      AsiaSat 8               4535          GTO                                                    AsiaSat                           Success              No attempt
11   07-09-2014   05:00:00   F9 v1.1 B1011   CCAFS LC-40                                                      AsiaSat 6               4428          GTO                                                    AsiaSat                           Success              No attempt
12   21-09-2014   05:52:00   F9 v1.1 B1010   CCAFS LC-40                                                   SpaceX CRS-4               2216    LEO (ISS)                                                 NASA (CRS)                           Success    Uncontrolled (ocean)
13   10-01-2015   09:47:00   F9 v1.1 B1012   CCAFS LC-40                                                   SpaceX CRS-5               2395    LEO (ISS)                                                 NASA (CRS)                           Success    Failure (drone ship)
14   11-02-2015   23:03:00   F9 v1.1 B1013   CCAFS LC-40                                                         DSCOVR                570          HEO                                   U.S. Air Force NASA NOAA                           Success      Controlled (ocean)
15   02-03-2015   03:50:00   F9 v1.1 B1014   CCAFS LC-40                                     ABS-3A Eutelsat 115 West B               4159          GTO                                               ABS Eutelsat                           Success              No attempt
16   14-04-2015   20:10:00   F9 v1.1 B1015   CCAFS LC-40                                                   SpaceX CRS-6               1898    LEO (ISS)                                                 NASA (CRS)                           Success    Failure (drone ship)
17   27-04-2015   23:03:00   F9 v1.1 B1016   CCAFS LC-40                                         Turkmen 52 / MonacoSAT               4707          GTO                         Turkmenistan National Space Agency                           Success              No attempt
18   28-06-2015   14:21:00   F9 v1.1 B1018   CCAFS LC-40                                                   SpaceX CRS-7               1952    LEO (ISS)                                                 NASA (CRS)               Failure (in flight)  Precluded (drone ship)
19   22-12-2015   01:29:00     F9 FT B1019   CCAFS LC-40                       OG2 Mission 2  11 Orbcomm-OG2 satellites               2034          LEO                                                    Orbcomm                           Success    Success (ground pad)
20   17-01-2016   18:42:00   F9 v1.1 B1017   VAFB SLC-4E                                                        Jason-3                553          LEO                                       NASA (LSP) NOAA CNES                           Success    Failure (drone ship)
21   04-03-2016   23:35:00     F9 FT B1020   CCAFS LC-40                                                          SES-9               5271          GTO                                                        SES                           Success    Failure (drone ship)
22   08-04-2016   20:43:00   F9 FT B1021.1   CCAFS LC-40                                                   SpaceX CRS-8               3136    LEO (ISS)                                                 NASA (CRS)                           Success    Success (drone ship)
23   06-05-2016   05:21:00     F9 FT B1022   CCAFS LC-40                                                       JCSAT-14               4696          GTO                                     SKY Perfect JSAT Group                           Success    Success (drone ship)
24   27-05-2016   21:39:00   F9 FT B1023.1   CCAFS LC-40                                                      Thaicom 8               3100          GTO                                                    Thaicom                           Success    Success (drone ship)
25   15-06-2016   14:29:00     F9 FT B1024   CCAFS LC-40                                     ABS-2A Eutelsat 117 West B               3600          GTO                                               ABS Eutelsat                           Success    Failure (drone ship)
26   18-07-2016   04:45:00   F9 FT B1025.1   CCAFS LC-40                                                   SpaceX CRS-9               2257    LEO (ISS)                                                 NASA (CRS)                           Success    Success (ground pad)
27   14-08-2016   05:26:00     F9 FT B1026   CCAFS LC-40                                                       JCSAT-16               4600          GTO                                     SKY Perfect JSAT Group                           Success    Success (drone ship)
28   14-01-2017   17:54:00   F9 FT B1029.1   VAFB SLC-4E                                                 Iridium NEXT 1               9600    Polar LEO                                     Iridium Communications                           Success    Success (drone ship)
29   19-02-2017   14:39:00   F9 FT B1031.1    KSC LC-39A                                                  SpaceX CRS-10               2490    LEO (ISS)                                                 NASA (CRS)                           Success    Success (ground pad)
30   16-03-2017   06:00:00     F9 FT B1030    KSC LC-39A                                                    EchoStar 23               5600          GTO                                                   EchoStar                           Success              No attempt
31   30-03-2017   22:27:00  F9 FT  B1021.2    KSC LC-39A                                                         SES-10               5300          GTO                                                        SES                           Success    Success (drone ship)
32   01-05-2017   11:15:00   F9 FT B1032.1    KSC LC-39A                                                        NROL-76               5300          LEO                                                        NRO                           Success    Success (ground pad)
33   15-05-2017   23:21:00     F9 FT B1034    KSC LC-39A                                                  Inmarsat-5 F4               6070          GTO                                                   Inmarsat                           Success              No attempt
34   03-06-2017   21:07:00   F9 FT B1035.1    KSC LC-39A                                                  SpaceX CRS-11               2708    LEO (ISS)                                                 NASA (CRS)                           Success    Success (ground pad)
35   23-06-2017   19:10:00  F9 FT  B1029.2    KSC LC-39A                                                  BulgariaSat-1               3669          GTO                                                  Bulsatcom                           Success    Success (drone ship)
36   25-06-2017   20:25:00   F9 FT B1036.1   VAFB SLC-4E                                                 Iridium NEXT 2               9600          LEO                                     Iridium Communications                           Success    Success (drone ship)
37   05-07-2017   23:38:00     F9 FT B1037    KSC LC-39A                                                   Intelsat 35e               6761          GTO                                                   Intelsat                           Success              No attempt
38   14-08-2017   16:31:00   F9 B4 B1039.1    KSC LC-39A                                                  SpaceX CRS-12               3310    LEO (ISS)                                                 NASA (CRS)                           Success    Success (ground pad)
39   24-08-2017   18:51:00   F9 FT B1038.1   VAFB SLC-4E                                                     Formosat-5                475          SSO                                                       NSPO                           Success    Success (drone ship)
40   07-09-2017   14:00:00   F9 B4 B1040.1    KSC LC-39A                                             Boeing X-37B OTV-5               4990          LEO                                             U.S. Air Force                           Success    Success (ground pad)
41   09-10-2017   12:37:00   F9 B4 B1041.1   VAFB SLC-4E                                                 Iridium NEXT 3               9600    Polar LEO                                     Iridium Communications                           Success    Success (drone ship)
42   11-10-2017   22:53:00  F9 FT  B1031.2    KSC LC-39A                                          SES-11 / EchoStar 105               5200          GTO                                               SES EchoStar                           Success    Success (drone ship)
43   30-10-2017   19:34:00   F9 B4 B1042.1    KSC LC-39A                                                    Koreasat 5A               3500          GTO                                             KT Corporation                           Success    Success (drone ship)
44   15-12-2017   15:36:00  F9 FT  B1035.2  CCAFS SLC-40                                                  SpaceX CRS-13               2205    LEO (ISS)                                                 NASA (CRS)                           Success    Success (ground pad)
45   23-12-2017   01:27:00  F9 FT  B1036.2   VAFB SLC-4E                                                 Iridium NEXT 4               9600    Polar LEO                                     Iridium Communications                           Success      Controlled (ocean)
46   08-01-2018   01:00:00   F9 B4 B1043.1  CCAFS SLC-40                                                           Zuma               5000          LEO                                           Northrop Grumman  Success (payload status unclear)    Success (ground pad)
47   31-01-2018   21:25:00  F9 FT  B1032.2  CCAFS SLC-40                                              GovSat-1 / SES-16               4230          GTO                                                        SES                           Success      Controlled (ocean)
48   22-02-2018   14:17:00  F9 FT  B1038.2   VAFB SLC-4E                                              Paz  Tintin A & B               2150          SSO                                 Hisdesat exactEarth SpaceX                           Success              No attempt
49   06-03-2018   05:33:00     F9 B4 B1044  CCAFS SLC-40                                         Hispasat 30W-6  PODSat               6092          GTO                                        Hispasat  NovaWurks                           Success              No attempt
50   30-03-2018   14:14:00  F9 B4  B1041.2   VAFB SLC-4E                                                 Iridium NEXT 5               9600    Polar LEO                                     Iridium Communications                           Success              No attempt
51   02-04-2018   20:30:00  F9 B4  B1039.2  CCAFS SLC-40                                                  SpaceX CRS-14               2647    LEO (ISS)                                                 NASA (CRS)                           Success              No attempt
52   18-04-2018   22:51:00   F9 B4 B1045.1  CCAFS SLC-40                   Transiting Exoplanet Survey Satellite (TESS)                362          HEO                                                 NASA (LSP)                           Success    Success (drone ship)
53   11-05-2018   20:14:00  F9 B5  B1046.1    KSC LC-39A                                                  Bangabandhu-1               3600          GTO                                         Thales-Alenia/BTRC                           Success    Success (drone ship)
54   22-05-2018   19:47:58  F9 B4  B1043.2   VAFB SLC-4E                                 Iridium NEXT 6   GRACE-FO 1, 2               6460    Polar LEO                          Iridium Communications GFZ â€š NASA                           Success              No attempt
55   04-06-2018   04:45:00  F9 B4  B1040.2  CCAFS SLC-40                                                         SES-12               5384          GTO                                                        SES                           Success              No attempt
56   29-06-2018   09:42:00   F9 B4 B1045.2  CCAFS SLC-40                                                  SpaceX CRS-15               2697    LEO (ISS)                                                 NASA (CRS)                           Success              No attempt
57   22-07-2018   05:50:00    F9 B5B1047.1  CCAFS SLC-40                                                    Telstar 19V               7075          GTO                                                    Telesat                           Success                 Success
58   25-07-2018   11:39:00    F9 B5B1048.1   VAFB SLC-4E                                                 Iridium NEXT-7               9600    Polar LEO                                     Iridium Communications                           Success                 Success
59   07-08-2018   05:18:00   F9 B5 B1046.2  CCAFS SLC-40                                                   Merah Putih                5800          GTO                                           Telkom Indonesia                           Success                 Success
60   10-09-2018   04:45:00    F9 B5B1049.1  CCAFS SLC-40                                        Telstar 18V / Apstar-5C               7060          GTO                                                    Telesat                           Success                 Success
61   08-10-2018   02:22:00   F9 B5 B1048.2   VAFB SLC-4E                                                      SAOCOM 1A               3000          SSO                                                      CONAE                           Success                 Success
62   15-11-2018   20:46:00   F9 B5 B1047.2    KSC LC-39A                                                      Es hail 2               5300          GTO                                                 Es hailSat                           Success                 Success
63   03-12-2018   18:34:05   F9 B5 B1046.3   VAFB SLC-4E                                                         SSO-A                4000          SSO                                     Spaceflight Industries                           Success                 Success
64   05-12-2018   18:16:00      F9 B5B1050  CCAFS SLC-40                                                  SpaceX CRS-16               2500    LEO (ISS)                                                 NASA (CRS)                           Success                 Failure
65   23-12-2018   13:51:00      F9 B5B1054  CCAFS SLC-40                                                    GPS III-01                4400          MEO                                                       USAF                          Success               No attempt
66   11-01-2019   15:31:00   F9 B5 B1049.2   VAFB SLC-4E                                                 Iridium NEXT-8               9600    Polar LEO                                     Iridium Communications                           Success                 Success
67   22-02-2019   01:45:00   F9 B5 B1048.3  CCAFS SLC-40                      Nusantara Satu, Beresheet Moon lander, S5               4850          GTO                                         PSN, SpaceIL / IAI                           Success                 Success
68   02-03-2019   07:49:00    F9 B5B1051.1    KSC LC-39A                             Crew Dragon Demo-1, SpaceX CRS-17               12055    LEO (ISS)                                                NASA (CCD)                            Success                 Success
69   04-05-2019   06:48:00   F9 B5B1056.1   CCAFS SLC-40                                   SpaceX CRS-17, Starlink v0.9               2495    LEO (ISS)                                                 NASA (CRS)                           Success                 Success
70   24-05-2019   02:30:00   F9 B5 B1049.3  CCAFS SLC-40                          Starlink v0.9, RADARSAT Constellation              13620          LEO                                                     SpaceX                           Success                 Success
71   12-06-2019   14:17:00  F9 B5 B1051.2    VAFB SLC-4E                         RADARSAT Constellation, SpaceX CRS-18                4200          SSO                                Canadian Space Agency (CSA)                           Success                 Success
72   25-07-2019   22:01:00  F9 B5 B1056.2   CCAFS SLC-40                                        SpaceX CRS-18, AMOS-17                2268    LEO (ISS)                                                 NASA (CRS)                           Success                 Success

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.rename(columns = {'Landing _Outcome':'Landing_Outcome'}, inplace = True)
df.to_sql('spacextbl', con, index=True,method='multi')

C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql select DISTINCT[Launch_Site] from spacextbl

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%sql select * from spacextbl where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[(0, '04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (1, '08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (2, '22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (3, '08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (4, '01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%sql select sum(PAYLOAD_MASS__KG_) from spacextbl where Customer like 'NASA (CRS)%'

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [11]:
%sql select avg(PAYLOAD_MASS__KG_) from spacextbl where Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [24]:
%sql select Date from spacextbl where Landing_Outcome = 'Success (ground pad)' order by Date Desc limit 1

 * sqlite:///my_data1.db
Done.

[('22-12-2015',)]

 * sqlite:///my_data1.db
Done.

[]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
%sql select Booster_Version from spacextbl where (Mission_Outcome = 'Success') AND ( PAYLOAD_MASS__KG_ Between 4000 and 6000) AND( Landing_Outcome = 'Success (drone ship)')

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [41]:
%sql select Mission_Outcome , count(*) from spacextbl Group by  Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [42]:
%sql select booster_version from spacextbl where PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_) from spacextbl)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [61]:
%sql select substr(Date, 4, 2) as month,Landing_outcome,Booster_Version,launch_site from spacextbl where substr(Date,7,4) == '2015' and Landing_Outcome like 'Failure%'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [73]:
%sql select Landing_outcome,COUNT(*) as number from spacextbl where (Date between '04-06-2010' and '20-03-2017' ) and (Landing_outcome like 'Success%') group by Landing_outcome Order by number desc

 * sqlite:///my_data1.db
Done.

[('Success', 20), ('Success (drone ship)', 8), ('Success (ground pad)', 6)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>